.example-card-design {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    border-left:3px solid var(--accent-primary) ;
}

.example-card-design:hover {
    transform: translateY(-5px);
}
.number-badge {
    background-color: var(--accent-primary);
    color: var(--text-primary);
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
    min-width: 10px;
    font-size: 0.85rem;
    font-weight: 600;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
