:root {
    --color-cream-beige: #FFF4DF;
    --color-soft-peach: #FCD5A8;
    --color-soft-highlight: #FFEBCB;

    --color-warm-sand: #D6A682;
    --color-muted-caramel: #B97F59;
    --color-dusty-brown: #72564C;
    --color-deep-cocoa: #322627;

    --color-rose-terracotta: #E85C47;

    --bg-primary: var(--color-cream-beige);
    --bg-secondary: var(--color-soft-peach);

    --text-primary: var(--color-deep-cocoa);
    --text-secondary: var(--color-dusty-brown);

    --accent-primary: var(--color-rose-terracotta);
    --border-soft: var(--color-warm-sand);

    --card-bg: var(--color-soft-highlight);
}