.glass-effect {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.greeting-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures image fills the square without stretching */
    border-radius: 18px;
    z-index: 1;
}
.card-greeting-content:hover .icon-wrapper {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 12px 24px rgba(13, 110, 253, 0.1);
    border-color: rgba(13, 110, 253, 0.2);
}